<div class="container others">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@graciadharmaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gracia Dharma</a> on <a href="https://unsplash.com/wallpapers/art/anime?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <div class="card-body">
                  <h5 class="card-title">PlaceHolder</h5>
                  <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <a class="btn btn-dark" [routerLink]='["/about"]' routerLinkActive="active">About Me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@graciadharmaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gracia Dharma</a> on <a href="https://unsplash.com/wallpapers/art/anime?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <div class="card-body">
                  <h5 class="card-title">PlaceHolder</h5>
                  <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <a class="btn btn-dark" [routerLink]='["/about"]' routerLinkActive="active">About Me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@graciadharmaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gracia Dharma</a> on <a href="https://unsplash.com/wallpapers/art/anime?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <div class="card-body">
                  <h5 class="card-title">PlaceHolder</h5>
                  <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <a class="btn btn-dark" [routerLink]='["/about"]' routerLinkActive="active">About Me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1607604276583-eef5d076aa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@graciadharmaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gracia Dharma</a> on <a href="https://unsplash.com/wallpapers/art/anime?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <div class="card-body">
                  <h5 class="card-title">PlaceHolder</h5>
                  <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <a class="btn btn-dark" [routerLink]='["/about"]' routerLinkActive="active">About Me</a>
                </div>
            </div>
        </div>
    </div>   
</div>

