.home{
    padding:20px;
    margin-top: 20px;
    width:fit-content;
}
img {
    margin-top:2px;
}
.card-img-top{
    height: 150px;
}

.card{
    height: 100%;
    background-color:antiquewhite;
}

