<div container class="home">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1500576992153-0271099def59?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@lemonvlad?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vladislav Klapin</a> on <a href="https://unsplash.com/photos/SymZoeE8quA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <div class="card-body">
                  <h5 class="card-title">Hi there!</h5>
                  <p class="card-text"> Good to see you on my introductory site. Look around! Happy Surfing</p>
                  <a class="btn btn-dark" [routerLink]='["/about"]' routerLinkActive="active">About Me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto" >
                <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2022&q=80" class="card-img-top" alt="hello">
                <!--Photo by <a href="https://unsplash.com/es/@element5digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Element5 Digital</a> on <a href="https://unsplash.com/photos/OyCl7Y4y0Bk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <div class="card-body">
                  <h5 class="card-title">Oof! Studies</h5>
                  <p class="card-text">Here's what you need to know about my education.</p>
                  <a class="btn btn-dark" [routerLink]='["/education"]' routerLinkActive="active">Education</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto" >
                <img src="https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@martenbjork?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marten Bjork</a> on <a href="https://unsplash.com/photos/6dW3xyQvcYE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>-->
                <div class="card-body">
                  <h5 class="card-title">Time for some work</h5>
                  <p class="card-text">I am a new to 'professionally' working.</p>
                  <a class="btn btn-dark" [routerLink]='["/work"]' routerLinkActive="active">Work</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card mx-auto">
                <img src="https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="hello">
                <!-- Photo by <a href="https://unsplash.com/@jeshoots?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">JESHOOTS.COM</a> on <a href="https://unsplash.com/photos/eCktzGjC-iU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <div class="card-body">
                  <h5 class="card-title">What else</h5>
                  <p class="card-text">Some things that you might want to know. or might not.</p>
                  <a class="btn btn-dark" [routerLink]='["/others"]' routerLinkActive="active">Others</a>
                </div>
            </div>
        </div>
    </div>   
</div>
